<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome</title>
</head>
<body>

  <div class="fixed">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
      <h1><a href="#">IOU</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
   <ul class="right">
      <li><a href="#" data-reveal-id="myModal">About</a></li>
      <div id="myModal" class="reveal-modal" data-reveal>
        <h2>About</h2>
        <p class="lead">How it works</p>
        <p>This app helps remind you to pay off your IOUs.</p>
        <a class="close-reveal-modal">&#215;</a>
      </div>
      <li class="divider"></li>
      <li><a href="#" data-reveal-id="firstModal">Contact</a></li>
      <div id="firstModal" class="reveal-modal" data-reveal>
        <h2>Contact Information</h2>
        <p class="lead">Amy Bakameyer</p>
        <p>You can contact me at bymak87@gmail.com</p>
        <a class="close-reveal-modal">&#215;</a>
      </div>

      </li>
    </ul>
  </nav>
</div>

<div class="row">
  <div class="small-12 columns scooch">
    <h1 class="title "> Welcome to the IOU!</h1>

    <img class="cen" src="http://icons.iconarchive.com/icons/ebiene/e-commerce/256/checklist-icon.png">


    <h3 class="title ">An easy way to keep track of your IOUs with a text message reminder system.</h3>

<br />


  <a class="button radius move" href="/users/sign_in">Get Started</a>
  </div>
  </div>
</div>

</body>
</html>

